.whole-block {
  color: black;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
}

.text-with-image {
  color: black;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text image";
    margin: 0 auto;

    .text-group {
      padding: 2rem;
    }

    &.text-right {
      grid-template-areas: "image text";
    }
  }
}
.whole-block,
.text-with-image {
  .image,
  .text,
  .title {
    color: black;
    width: 100%;
    margin: 0.5rem 0;
  }

  .image {
    aspect-ratio: 7/5;
    grid-area: image;
  }

  .text-group {
    grid-area: text;
    .text {
      line-height: 1rem;
      font-weight: 300;
      font-size: 0.5rem;
    }
    .title {
      font-size: 1.2rem;
      font-weight: 100;
    }
  }
  .image,
  .text,
  .title {
    color: black;
    width: 100%;
    margin: 0.5rem 0;
  }
}
