.banner {
  position: relative;
  height: calc(100vh - 12rem);

  &.parent-size {
    height: 100%;
    width: 100%;
  }

  @media (min-width: 768px) {
    height: calc(100vh - 5rem);
  }

  .banner-text-container {
    color: white;
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    transition-duration: 0.2s;
    opacity: 100;
    width: 80vw;

    @media (min-width: 768px) {
      left: 3rem;
      width: 30vw;
    }

    &.inactive {
      opacity: 0;
    }

    .title {
      font-size: 1.5rem;
      font-weight: 100;
      padding: 1rem 0;
    }

    .sub-title {
      font-size: 1rem;
      font-weight: 300;
    }
    .desc {
      margin-top: 3rem;
      font-size: 1rem;
    }
  }

  .bottom-line-bullets {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1px;
    width: 100%;

    .bullet {
      flex-grow: 1;
      width: 1rem;
      height: 2px;
      background-color: black;
      opacity: 0;
      transition: 0.2s;

      &.active {
        opacity: 1;
      }
    }
  }
}
