.introduction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;

  @media (min-width: 768px) {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 6rem);
    grid-template-areas: "details display";
    grid-template-columns: 1fr 2.5fr;
    padding: 0 2rem;
  }

  .details {
    grid: details;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: auto;

    @media screen and (min-width: 768px) {
      display: block;
      text-align: start;
    }

    .color-options {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
      justify-content: center;
      align-items: center;
      grid-area: color;

      @media screen and (min-width: 768px) {
        margin: 0 1rem;
        justify-content: start;
      }

      .color-option {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        cursor: pointer;
        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);

        &.selected {
          border: 2px solid rgba(0, 0, 0, 1);
          scale: 1.1;
        }
      }
    }

    .info-container {
      height: calc(40vh - 8rem);
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 0.5rem;
      width: 100%;

      @media screen and (min-width: 768px) {
        margin: 0;
        align-items: start;
        height: unset;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0 1rem;

        @media screen and (min-width: 768px) {
          font-size: 3rem;
        }
      }

      .sub-title {
        display: inline;
        font-size: 1rem;
        font-weight: 100;
        margin: 0 0.5rem;
        margin-bottom: 2rem;
        line-height: 0;

        @media screen and (min-width: 768px) {
          margin: 0 1rem;
          margin-bottom: 2rem;
        }
      }

      .price {
        margin: 0 1rem;
      }

      .desc {
        flex-grow: 1;
        flex-shrink: 1;
        text-overflow: ellipsis;
        overflow: auto;
        white-space: pre-wrap;
        font-size: 0.8rem;
        font-weight: 300;
        margin: 1rem;

        .first-letter {
          font-size: 1.5rem;
          font-weight: 300;
        }

        @media screen and (min-width: 768px) {
          height: unset;
          max-height: unset;
        }
      }
    }

    .form-button-container {
      margin: 1rem;
      width: 80%;
    }
  }

  .display {
    display: flex;
    flex-grow: 1;
    grid-area: display;
    width: 100%;
    height: 50vh;

    @media (min-width: 768px) {
      width: 100%;
      height: 90%;
      max-height: unset;
    }
  }
}
