.combo-selection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .combo-title {
    font-size: 1rem;
  }
}

.combo-learn-more {
  line-height: 0;
  font-size: 0.8rem;
  color: #666;
  text-decoration: underline;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    padding-left: 1rem;
  }
}
