.image-gallery.banner {
  width: 100%;
  height: calc(100% - 4rem);
  overflow-x: hidden;

  .image-gallery-content {
    width: 100%;
    height: 100%;
    .image-gallery-slide-wrapper {
      width: 100%;
      height: 100%;
      .image-gallery-swipe {
        width: 100%;
        height: 100%;
      }
      .image-gallery-slides {
        width: 100%;
        height: 100%;
        .image-gallery-slide {
          width: 100%;
          height: 100%;
          .image-gallery-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: unset;
          }
        }
      }
      .image-gallery-bullets {
        width: 95%;
        bottom: 5vh;
        right: 5vh;

        .image-gallery-bullets-container {
          text-align: right;
        }
      }
    }
  }
}

.image-gallery.product {
  $imageHeight: 50vh;
  position: relative;
  width: 100%;
  height: 100%;

  .image-gallery-content {
    width: 100%;
    height: 100%;
    .image-gallery-slide-wrapper {
      width: 100%;
      height: 80%;
      .image-gallery-swipe {
        width: 100%;
        height: 100%;
        .image-gallery-slides {
          width: 100%;
          height: 100%;
          max-height: $imageHeight !important;
          .image-gallery-slide {
            width: 100%;
            height: 100%;
            .image-gallery-image {
              object-fit: cover;
              max-height: $imageHeight !important;
              max-width: 100%;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .image-gallery-bullets {
        bottom: 5vh;
      }
    }
  }
}
