.product-type-desc {
  color: black;
  display: flex;
  flex-direction: column;

  .desc-title {
    font-family: "hahmlet";
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
