.footer {
  border-top: black solid 1px;
  padding: 0 2rem;
  text-align: center;
  padding: 2rem 0;
  bottom: 0;
  font-weight: 100;
  margin-top: 2rem;

  .copyright {
    font-size: 0.5rem;
    font-weight: 500;
  }
  .brand-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .brand-name {
      font-family: "Antic Didone", serif;
      font-size: 2rem;
      font-weight: 100;
      text-decoration: none !important;
    }
  }

  a {
    text-decoration: underline;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__section {
    margin: auto;
    justify-self: center;

    @media screen and (min-width: 768px) {
      margin: 1rem;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 1rem 0;
    }

    .items-group {
      margin: 1rem 0;

      .footer__item {
        font-size: 0.6rem;
        margin: 0.5rem 0;

        .medias {
          display: flex;
          gap: 1rem;
          margin: 1rem 0;
          justify-content: center;

          .media-icon {
            max-width: 2rem;
            cursor: pointer;
          }

          @media (min-width: 768px) {
            justify-content: flex-start;
          }
        }
      }
    }

    .subscribe {
      margin: 1rem;

      &__input {
        padding: 0.5rem;
        width: 80%;
        margin: 1rem;

        @media (min-width: 768px) {
          margin: 1rem 0;
        }
      }

      &__button {
        padding: 0.5rem;
        width: 80%;
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
      }
    }
  }

  @media (min-width: 768px) {
    text-align: left;

    .footer__container {
      display: grid;
      align-items: baseline;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .copyright {
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}
