@import "../_partial/general";

.choose-color {
  margin-bottom: 5rem;
  .model-view-container {
    .model-view-3d {
      background-color: rgb(33, 34, 68);
      min-width: 100vw;
      min-height: 50vh;
    }
    .model-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .color-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .color-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;

      .area-option {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        min-width: 6rem;
        width: 8rem;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition-duration: 0.5s;
        border: 1px solid rgba(0, 0, 0, 0.5);

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .choose-color {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      width: 90%;

      .color {
        cursor: pointer;
        display: flex;
        padding: 1rem;
        width: 100%;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition-duration: 0.5s;

        .color-display {
          display: flex;
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;

          .color1 {
            width: 3rem;
            height: 3rem;
            border-radius: 100% 0 0 100% / 50% 0 0 50%;
          }

          .color2 {
            width: 3rem;
            height: 3rem;
            border-radius: 0 100% 100% 0 / 0 50% 50% 0;
          }
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
    .description {
      .color-desc {
        color: red;
      }

      .images {
        display: flex;

        .image {
          object-fit: cover;
          margin: 0.2rem;
        }
      }
    }
  }
}
