:root {
  --gray-light: #f0f0f0;
  --gray-border: #c7c7c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-family: "IM Fell Great Primer";
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

main {
  flex: 1;
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 0;
  font-size: 1rem;
}

header {
  position: relative;
  height: 4rem;
  width: 100%;
  z-index: 100;
}
header .open-menu-button,
header .close-menu-button {
  display: none;
}
header .ad {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 2rem;
  text-align: center;
  background: #c7c7c7;
  z-index: 1000;
}
header .menu {
  position: relative;
  display: block;
  background-color: rgb(255, 255, 255);
  width: 100%;
  transition: 0.5s;
  height: 4rem;
  z-index: 1;
}
header .menu.scroll {
  position: fixed;
}
header .menu.open {
  display: block;
}
header .menu .brand-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .menu .header-group {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-height: 100%;
  max-width: 100%;
  z-index: 2;
}
header .menu .nav {
  position: relative;
  background-color: white;
  font-size: 1rem;
  width: 100%;
  height: 80vh;
  padding: 1rem 0;
  transform: translate(0, -100%);
  transition: 0.5s;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  header .menu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0%;
  }
}
header .menu .nav .nav-link {
  width: 100%;
  font-weight: 100;
  cursor: pointer;
  padding: 0.2rem 2rem;
}
header .menu .nav .nav-link:hover {
  background-color: var(--gray-light);
}
header .menu .nav.open {
  transform: translate(0, 0);
}
header .menu .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header .menu .icons .icon {
  max-width: 2rem;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer {
  margin: 0 2rem;
  text-align: center;
  padding: 2rem 0;
  bottom: 0;
}
.footer .footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__section {
  margin: 1rem;
  justify-self: center;
}
.footer .footer__section .title {
  font-size: 2rem;
  margin: 1rem 0;
}
.footer .footer__section .items-group {
  margin: 1rem 0;
}
.footer .footer__section .items-group .footer__item {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.footer .footer__section .items-group .footer__item .medias {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: center;
}
.footer .footer__section .items-group .footer__item .medias .media-icon {
  max-width: 2rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .footer .footer__section .items-group .footer__item .medias {
    justify-content: flex-start;
  }
}
.footer .footer__section .subscribe {
  margin: 1rem;
}
.footer .footer__section .subscribe__input {
  padding: 0.5rem;
  width: 80%;
  margin: 1rem;
}
@media (min-width: 768px) {
  .footer .footer__section .subscribe__input {
    margin: 1rem 0;
  }
}
.footer .footer__section .subscribe__button {
  padding: 0.5rem;
  width: 80%;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer .copyright {
    grid-column: 1/-1;
    text-align: center;
  }
}

.hide {
  display: none;
}

.transparent {
  opacity: 0;
}

.customize .customize-step-nav {
  position: relative;
  margin: auto;
  height: 5rem;
  padding: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
.customize .customize-step-nav .nav__item {
  position: absolute;
  color: gray;
  top: 50%;
  left: 50vw;
  list-style: none;
  cursor: pointer;
  transition-duration: 0.5s;
  transform: translate(-50%, -50%);
}
.customize .customize-step-nav .nav__item:hover {
  color: black;
  font-size: 1.5rem;
}
.customize .customize-step-nav .nav__item.current-step {
  text-decoration: underline;
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .customize .customize-step-nav {
    height: 10rem;
  }
}
.customize .brand-name {
  z-index: 10;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .customize .brand-name {
    font-size: 4rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
}

.choose-color,
.choose-deco,
.choose-engraving {
  margin-bottom: 5rem;
}
.choose-color .display-section .model-display,
.choose-deco .display-section .model-display,
.choose-engraving .display-section .model-display {
  background-color: rgb(33, 34, 68);
  min-width: 100%;
  min-height: 50vh;
  height: 100%;
  margin: auto;
}
.choose-color .display-section .model-info,
.choose-deco .display-section .model-info,
.choose-engraving .display-section .model-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-color .selection-section,
.choose-deco .selection-section,
.choose-engraving .selection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .choose-color,
  .choose-deco,
  .choose-engraving {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 400px;
  }
  .choose-color .display-section,
  .choose-deco .display-section,
  .choose-engraving .display-section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .choose-color .display-section .model-view-3d,
  .choose-deco .display-section .model-view-3d,
  .choose-engraving .display-section .model-view-3d {
    background-color: rgb(33, 34, 68);
    min-width: 90%;
    min-height: 80vh;
    margin: auto;
  }
  .choose-color .display-section .model-info,
  .choose-deco .display-section .model-info,
  .choose-engraving .display-section .model-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=customize.css.map */
