@import "./_partial/general.scss";

.banner {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: url(./../assets/test-banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7) sepia(90%);
  cursor: pointer;

  &__explain {
    background: white;
    padding: 0.5rem 2rem;
    position: absolute;
    bottom: 4rem;
    right: 1rem;
  }

  &__title {
    color: white;
    position: absolute;
    font-size: 2rem;
    bottom: 1rem;
    right: 1rem;
    white-space: nowrap;
  }
}
