.product-card {
  position: relative;
  margin: 0.2rem;
  min-width: 20rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.5s;
  padding-bottom: 1rem 0;
  overflow: hidden;
  height: 100%;
  padding-bottom: 1rem;

  .product-image-container {
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .product-image {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      transition: 0.5s;

      &:hover {
        transform: scale(0.95);
      }
    }
  }

  .info {
    font-weight: 100;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name name" "base base" "price color";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#ffffff, #f4f4f4);

    .color-select {
      grid-area: color;
      display: flex;
      justify-content: right;
      align-items: right;
      margin: 0;
      font-size: 1rem;
    }

    .product-name {
      text-align: left;
      grid-area: name;
      margin: 0 0.2rem;
      font-size: 1.5rem;
    }
    .product-base {
      text-align: left;
      grid-area: base;
      margin: 0 0.2rem;
      font-size: 0.5rem;
      line-height: 0;
      margin-bottom: 0.5rem;
    }

    .product-desc {
      display: none;
      margin: 0.2rem;
      font-size: 1rem;
    }

    .product-price {
      text-align: left;
      grid-area: price;
      margin: 0.2rem;
      font-size: 1.2rem;
      line-height: 1rem;
    }
  }
}
